.open-sans-normal {
  font-family: "Open Sans", sans-serif;

  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* Shared styles */
.text-primary {
  color: #fd6e0a;
}
.text-secondary {
  color: #181818;
}

.dark-2 {
  color: #474747;
}
.dark-1 {
  color: #181818;
}
.dark-3 {
  color: #757575;
}

.btn-primary {
  background-color: #fd6e0a;
  font-weight: 700;
  color: #fff;
  font-size: 20px;
  padding: 10px 30px;
  border-radius: 5px;
  border: none;
}
/* header styles */
.header {
  background-image: url("../assets/images/developer.png"),
    url("../assets/images/header_bg.png");
  background-repeat: no-repeat;
  background-position: top left, bottom right;

  background-color: #fff8f3;
}
/* nav styles */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 200px;
  /* margin: 15px 30px; */
}

.nav-title {
  font-size: 45px;
  font-weight: 800;
}

ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style: none;
  margin-right: 50px;
}

nav ul li a {
  text-decoration: none;

  font-size: 20px;
}

/* Banner styles */
.banner {
  display: flex;
  justify-content: space-between;
  /* gap: 160px; */
  margin: 0px 45px 0 201px;
}
.banner-content {
  width: 580px;
}
.banner-greetings {
  font-size: 45px;
  font-weight: 600;
  margin-bottom: -50px;
}

.banner-title {
  font-size: 85px;
  font-weight: 700;
  margin-bottom: 20px;
}

.banner-description {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 25px;

  width: 580px;
}

.banner-profile-pic {
  width: 580px;
}
