.open-sans-normal {
  font-family: "Open Sans", sans-serif;

  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* Shared styles */
.text-primary {
  color: #fd6e0a;
}
.text-secondary {
  color: #181818;
}

.dark-2 {
  color: #474747;
}
.dark-1 {
  color: #181818;
}
.dark-3 {
  color: #757575;
}

.btn-primary {
  background-color: #fd6e0a;
  font-weight: 700;
  color: #fff;
  font-size: 20px;
  padding: 10px 30px;
  border-radius: 5px;
  border: none;
}

.section-title {
  font-size: 40px;
  font-weight: bold;
  color: #181818;
}
.section-description {
  font-size: 18px;
  font-weight: 500;
  color: #757575;
  /* width: 820px; */
}

/* header styles */
.header {
  background-image: url("../assets/images/developer.png"),
    url("../assets/images/header_bg.png");
  background-repeat: no-repeat;
  background-position: top left, bottom right;

  background-color: #fff8f3;
}
/* nav styles */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 200px;
  /* margin: 15px 30px; */
}

.nav-title {
  font-size: 45px;
  font-weight: 800;
}

ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style: none;
  margin-right: 50px;
}

nav ul li a {
  text-decoration: none;

  font-size: 20px;
}

/* Banner styles */
.banner {
  display: flex;
  justify-content: space-between;
  /* gap: 160px; */
  margin: 0px 45px 0 201px;
}
.banner-content {
  width: 580px;
}
.banner-greetings {
  font-size: 45px;
  font-weight: 600;
  margin-bottom: -50px;
}

.banner-title {
  font-size: 85px;
  font-weight: 700;
  margin-bottom: 20px;
}

.banner-description {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 25px;

  /* width: 580px; */
}

.banner-profile-pic {
  width: 580px;
}

/* main styles */
main {
  max-width: 1250px;
  margin: 0 auto;
}
main section {
  margin-top: 130px;
  margin-bottom: 150px;
}
/* About styles*/

.about {
  background-color: #fff8f3;
  border-radius: 10px;
  margin-top: 130px;
  padding: 80px 150px;
  text-align: center;
}
.about-border {
  border: 1px solid #000000;
  padding: 0 8px;
}
.about-items {
  display: flex;
  justify-content: space-around;
}

.item-description {
  font-weight: bold;
}

/* skills styles */
.skills {
  text-align: center;
}
.skills-card-container {
  display: flex;
  /* gap: 24px; */
  justify-content: space-between;
  margin-bottom: 30px;
}
.skills .section-description {
  margin-bottom: 50px;
}
.skill-card {
  /* background-color: #ffffff; */
  box-shadow: 10px 6px 50px 0px rgba(0, 0, 0, 0.06);
  padding: 30px;
  border-radius: 8px;
  /* width: 260px; */
}
.skill-card-title {
  margin-bottom: 30px;
}
.skill-card-description {
  width: 200px;
}

/* resume styles */
.resume h1 {
  text-align: center;
}
.education .experience {
  width: 100%;
}
.education-experience {
  display: flex;
  gap: 70px;
  /* justify-content: space-between; */
  margin-top: 130px;
  margin-bottom: 120px;
}
.education-title {
  font-size: 30px;
  font-weight: bold;
  color: #474747;
}

.degree-title {
  font-size: 25px;
  font-weight: bold;
  color: #474747;
}

.education-sub-title {
  font-size: 20px;
  font-weight: 600;
  color: #474747;
}
.education-description {
  font-weight: 600;
  color: #47474781;
}

.resume-btn {
  display: block;
  margin: auto;
  margin-top: -70px;
}

/* Footer styles */

.footer {
  background-color: #fff8f3;

  padding: 130px 230px;

  display: flex;
  gap: 100px;
}

.footer-column {
  width: 50%;
}

.footer input[type="text"],
.footer input[type="email"],
.footer textarea {
  width: 460px;
  height: 50px;
  border-radius: 5px;
  padding: 0px 30px;
  margin-bottom: 24px;
  display: block;
  background-color: white;

  border: none;
}
